@using CloudBust.Application.Models
@using CloudBust.Dashboard
@using Orchard.Users.Models
@using Orchard.Security

@model CloudBust.Dashboard.ViewModels.ApplicationViewModel
@functions{
    dynamic appParameterValue(ParameterRecord entry)
    {
        switch (entry.ParameterType.ToLower())
        {
            case "int":
                return entry.ParameterValueInt;
            case "double":
                return entry.ParameterValueDouble;
            case "bool":
                return entry.ParameterValueBool;
            case "datetime":
                return entry.ParameterValueDateTime;
            default:
                return entry.ParameterValueString;
        }
    }
}
<div class="row">
    <div class="large-12 columns">
        <table>
            <thead>
                <tr>
                    <th width="120">Name</th>
                    <th width="180">Description</th>
                    <th width="80">Type</th>
                    <th width="200">Value</th>
                    <th width="180">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var entry in Model.Settings)
                {
                <tr>
                    <td>
                        @entry.Name
                    </td>
                    <td>
                        @entry.Description
                    </td>
                    <td>
                        @entry.ParameterType
                    </td>
                    <td class="tdval">
                        @appParameterValue(entry)
                    </td>
                    <td>
                        <a href="~/dashboard/applications/@Model.Application.AppKey/ast/@entry.NormalizedName/edit" class="tiny button">Edit</a>

                        <a href="~/dashboard/applications/@Model.Application.AppKey/ast/@entry.NormalizedName/delete" class="tiny button alert">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <a class="button" href="~/dashboard/applications/@Model.Application.AppKey/ast/create"><i class="fi-plus"></i>  Add a Setting</a>
        <a class="button" href="~/dashboard/applications/@Model.Application.AppKey/ast/categories"><i class="fi-pencil"></i>  Edit Categories</a>
    </div>
</div>