@model dynamic
<div class="row">
    <div class="columns">
        <h1>@Html.TitleForPage(T("Email confirmed").ToString()) </h1>
        <p>@T("Thanks for validating your email address. You can now login using your credentials.") </p>
        <p>@Html.ActionLink(T("Sign In").ToString(), "LogOn", new { Controller = "Account", Area = "Orchard.Users" }, new { @class="button", rel = "nofollow" })</p>
    </div>
</div>
