<div class="title-bar hide-for-medium">
    <div class="title-bar-left">
        <button class="menu-icon-style" type="button" data-open="offCanvas" aria-expanded="false" aria-controls="offCanvas">
            <img class="hamburger-icon" alt="Menu icon" src="~/themes/thethememachinefoundation/styles/img/menu-grey.png">
            <a class="title-bar-home-link" href="" target="_blank">
                <span class="title-bar-title">
                    @*<img src="assets/img/zurb-logo.svg" alt="ZURB">*@
                    <span class="title-bar-title-text">@WorkContext.CurrentSite.SiteName</span>
                </span>
            </a>
        </button>
    </div>
</div>

