@{ 
    var clock = WorkContext.Resolve<Orchard.Services.IClock>();
}

<div class="noselect">
    <p class="footer-copyright">@T("<a href=\"{0}\" target=\"_blank\">Mission</a>", "mission")@T(" - <a href=\"{0}\" target=\"_blank\">Community</a> -  <a href=\"{1}\" target=\"_blank\">Organization</a>", "community", "organization")</p>
</div>
