@{ 
    var clock = WorkContext.Resolve<Orchard.Services.IClock>();
}

    <div class="noselect">
        <p class="footer-copyright">@T("<a href=\"{0}\" target=\"_blank\">Orchard</a>", "http://www.orchardproject.net")@T(" - <a href=\"{0}\" target=\"_blank\">ZURB Foundation</a> -  <a href=\"{1}\" target=\"_blank\">CloudBust</a>", "https://foundation.zurb.com", "https://cloudbust.doticca.com")</p>
    </div>
