<div class="title-bar hide-for-large noselect">
    <div class="title-bar-left">
        <button class="menu-icon-style" type="button" data-open="offCanvas" aria-expanded="false" aria-controls="offCanvas">
            <img class="hamburger-icon" alt="Menu icon" src="~/themes/foundation/styles/img/menu-grey.png">
            <a class="title-bar-home-link" href="~/">
                <span class="title-bar-title">
                    <span class="title-bar-title-text">@WorkContext.CurrentSite.SiteName</span>
                </span>
            </a>
        </button>
    </div>
</div>

