@{
    Orchard.ContentManagement.ContentItem contentItem = Model.ContentPart.ContentItem;
    string title = Model.Title.ToString();
}

<h1 class="summary">@Html.ItemDisplayLink(title, contentItem)</h1>