@using Orchard.Environment.Descriptor.Models
@{
    Script.Require("OrchardAce").AtHead();
    var g = Guid.NewGuid();
    string divid = "ace-" + g.ToString();
    string txtid = "txt-" + g.ToString();
}

    <style>
    #@divid {
        border: 1px solid #7C8891;
        position:relative;
        height: 61vh;
    }
    </style>

    <fieldset class="part_js">
        <label id="jslabel">Javascript</label>
        <div id="@divid"></div>
        @Html.TextArea("Js", (string)Model.Js, 25, 80,
     new Dictionary<string, object> {
        {"class", "js aceeditor " + txtid},
        {"style", "width:100%; display:none;"}
     })
    </fieldset>

@using (Script.Foot())
{
<script type="text/javascript">
    $(function () {
        var JsAceEditor = ace.edit('@divid');
        JsAceEditor.setOptions({
            theme: "ace/theme/grapto",
            mode: "ace/mode/javascript",
            showPrintMargin: false,
            enableEmmet: true,
            autoScrollEditorIntoView: true,
            enableBasicAutocompletion: true,
            enableSnippets: false,
            spellcheck: true,
            useElasticTabstops: true,
            UseSoftTabs: false,
            SelectionStyle: "text"
        });
        JsAceEditor.$blockScrolling = Infinity;

        var JsTextArea = $('.@txtid').hide();
        JsAceEditor.getSession().setValue(JsTextArea.val());
        JsAceEditor.getSession().on('change', function () {
            JsTextArea.val(JsAceEditor.getSession().getValue());
        });

        var desttab = $("#tabjs");
        if (typeof (desttab) !== 'undefined' && desttab.length > 0) {
            $("#@divid").appendTo("#tabjs");
            $("#jslabel").parent().hide();
            $('#tabjs').on('toggled', function (event, tab) {
                JsAceEditor.resize();
            });
        }
    });
</script>
}