@*<main class="bs-masthead" id="content" role="main">
  <div class="container">
    <h1>Grapto</h1>
    <p class="lead">A complete application factory on the cloud: code, edit, debug, emulate, simulate, deploy, promote. What else?</p>
    <p>
      <a href="~/setup/index" class="btn btn-outline-inverse btn-lg">Get Started with Grapto</a>
    </p>
  </div>
</main>*@
<a href="~/setup/index" class="btn btn-outline-inverse btn-lg">Get Started with CloudBust</a>

<footer class="container" role="contentinfo">
      <ul class="bs-masthead-links">
        <li class="current-version">
          Current Version 1.10.2
        </li>
        <li>
          <a href="/setup/howto#requirements">Requirements</a>
        </li>
        <li>
          <a href="/setup/howto#sqlazure">on SQL Azure</a>
        </li>
      </ul>
    </footer>