@{
    string Url = string.Empty;
    try
    {
        Url = Model.Url;
    }
    catch {}
}
@if (!string.IsNullOrWhiteSpace(Url))
{
    <div id="particles-js"></div>
    using (Script.Foot())
    {
<script type="text/javascript">
    //<![CDATA[

    particlesJS.load('particles-js', '@Url');

    //]]>
</script>
    }
}