<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<HostComponents xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <Components>
    <Component xdt:Locator="Condition(@Type != 'Orchard.Environment.Extensions.ExtensionMonitoringCoordinator')">
      <Properties>
        <Property Name="DisableMonitoring" Value="true" xdt:Locator="Match(Name)" xdt:Transform="SetAttributes(Value)" />
      </Properties>
    </Component>
    <Component xdt:Locator="Condition(@Type != 'Orchard.DisplayManagement.Descriptors.ShapePlacementStrategy.PlacementFileParser')">
      <Properties>
        <Property Name="DisableMonitoring" Value="true" xdt:Locator="Match(Name)" xdt:Transform="SetAttributes(Value)"/>
      </Properties>
    </Component>
    <Component xdt:Locator="Condition(@Type != 'Orchard.DisplayManagement.Descriptors.ShapeTemplateStrategy.ShapeTemplateBindingStrategy')">
      <Properties>
        <Property Name="DisableMonitoring" Value="true" xdt:Locator="Match(Name)" xdt:Transform="SetAttributes(Value)"/>
      </Properties>
    </Component>
    <Component xdt:Locator="Condition(@Type != 'Orchard.Environment.Extensions.Folders.ExtensionHarvester')">
      <Properties>
        <Property Name="DisableMonitoring" Value="true" xdt:Locator="Match(Name)" xdt:Transform="SetAttributes(Value)" />
      </Properties>
    </Component>
    <Component xdt:Locator="Condition(@Type != 'Orchard.Environment.Extensions.Compilers.DefaultProjectFileParser')">
      <Properties>
        <Property Name="DisableMonitoring" Value="true" xdt:Locator="Match(Name)" xdt:Transform="SetAttributes(Value)"/>
      </Properties>
    </Component>
    <Component xdt:Locator="Condition(@Type != 'Orchard.Environment.Extensions.Loaders.DynamicExtensionLoader')">
      <Properties>
        <Property Name="DisableMonitoring" Value="true" xdt:Locator="Match(Name)" xdt:Transform="SetAttributes(Value)"/>
      </Properties>
    </Component>
    <Component xdt:Locator="Condition(@Type != 'Orchard.Environment.Extensions.Loaders.DynamicExtensionLoader')">
      <Properties>
        <Property Name="Disabled" Value="true" xdt:Locator="Match(Name)" xdt:Transform="SetAttributes(Value)"/>
      </Properties>
    </Component>
    <Component xdt:Locator="Condition(@Type != 'Orchard.Environment.Extensions.Loaders.PrecompiledExtensionLoader')">
      <Properties>
        <Property Name="DisableMonitoring" Value="true" xdt:Locator="Match(Name)" xdt:Transform="SetAttributes(Value)"/>
      </Properties>
    </Component>
    <Component xdt:Locator="Condition(@Type != 'Orchard.Environment.Extensions.Loaders.DefaultDependenciesFolder')">
      <Properties>
        <Property Name="DisableMonitoring" Value="true" xdt:Locator="Match(Name)" xdt:Transform="SetAttributes(Value)"/>
      </Properties>
    </Component>
    <Component xdt:Locator="Condition(@Type != 'Orchard.Environment.Extensions.Loaders.DefaultExtensionDependenciesManager')">
      <Properties>
        <Property Name="DisableMonitoring" Value="true" xdt:Locator="Match(Name)" xdt:Transform="SetAttributes(Value)"/>
      </Properties>
    </Component>
    <Component xdt:Locator="Condition(@Type != 'Orchard.Environment.Extensions.Loaders.DefaultParallelCacheContext')">
      <Properties>
        <Property Name="DisableMonitoring" Value="false" xdt:Locator="Match(Name)" xdt:Transform="SetAttributes(Value)"/>
      </Properties>
    </Component>
    <Component xdt:Locator="Condition(@Type != 'Orchard.Environment.Extensions.Loaders.SessionConfigurationCache')">
      <Properties>
        <Property Name="DisableMonitoring" Value="false" xdt:Locator="Match(Name)" xdt:Transform="SetAttributes(Value)"/>
      </Properties>
    </Component>
    <Component xdt:Locator="Condition(@Type != 'Orchard.Environment.Extensions.Loaders.ShellDescriptorCache')">
      <Properties>
        <Property Name="DisableMonitoring" Value="false" xdt:Locator="Match(Name)" xdt:Transform="SetAttributes(Value)"/>
      </Properties>
    </Component>
  </Components>
</HostComponents>