<div class="row user">
    <div class="columns">
        <h1>@Html.TitleForPage(T("Invitation Has Expired").ToString()) </h1>
        <p>This invitation has expired and will be deleted.</p>

            <p>@Html.Link("Go to Home", Url.Content("/"), new { @class = "button" })</p>

    </div>
</div>