@model dynamic
<h1>@Html.TitleForPage(T("Challenge Email Sent").ToString()) </h1>
<p>@T("Please click the confirmation link you have just received to continue.") </p>
@if (Url.IsLocalUrl(Request.QueryString["ReturnUrl"])) {
    <p>@Html.Link(T("Go back"), Url.Content(Request.QueryString["ReturnUrl"]))</p>
}