@T("Thank you for registering with {0}.<br /><br /><br /><b>Final Step</b><br />To complete your registration please click the following link:<br /><a href=\"{1}\">{2}</a>", Model.RegisteredWebsite, Model.ChallengeUrl, Model.ChallengeText)
@if (!String.IsNullOrWhiteSpace(Model.ContactEmail)) {
    @T("<br /><br />If there are any problems, please reply to this email.<br />")
    @T("Many thanks,<br />The {0} team", Model.RegisteredWebsite)
}
