@using Orchard.Environment.Descriptor.Models
@{ 
    Script.Require("jQueryUI").AtHead();
    Script.Require("OrchardAce").AtHead();
    Style.Require("jQueryUI_Orchard").AtHead();
    var g = Guid.NewGuid();
    string divid = "ace-" + g.ToString();
    string txtid = "txt-" + g.ToString();
}
@using (Script.Head())
{
<style>
.part_css{
display:none;
}
.part_js{
    display:none;
}
#@divid {
    border: 1px solid #7C8891;
    margin: 0;
    height: 61vh;
}
.edit-item{
    display:none;
}
.tabs-content, #tabhtml, #tabcss, #tabjs{
    position: relative;
}
#tabhtml, #tabcss, #tabjs{

}
</style>
}

@Html.TextArea("Text", (string)Model.Text, 25, 80,
             new Dictionary<string, object> {
                {"class", "html aceeditor " + txtid},
                {"style", "width:100%; display:none;"}
             })

<div id="bodytabs" style="visibility:hidden;">
    <ul>
        <li><a href="#tabhtml">Html</a></li>
        <li><a href="#tabcss">Css</a></li>
        <li><a href="#tabjs">Javascript</a></li>
    </ul>
    <div id="tabhtml">
        <div id="@divid"></div>
    </div>
    <div id="tabcss">
    </div>
    <div id="tabjs">
    </div>
</div>

@using (Script.Foot())
{
<script>
$(function () {
    var BodyAceEditor = ace.edit('@divid');
    BodyAceEditor.setOptions({
        enableEmmet: true,
        enableBasicAutocompletion: true,
        autoScrollEditorIntoView: true,
        enableSnippets: false,
        spellcheck: true,
        useElasticTabstops: true,
        theme: "ace/theme/grapto",
        mode: "ace/mode/html",
        showPrintMargin: false,
        selectionStyle: "text"
    });
    BodyAceEditor.$blockScrolling = Infinity;
    BodyAceEditor.getSession().setUseSoftTabs(false);
    var TextArea = $('.@txtid').hide();
    BodyAceEditor.getSession().setValue(TextArea.val());

    BodyAceEditor.getSession().on('change', function () {
        TextArea.val(BodyAceEditor.getSession().getValue());
    });

    $('#tabhtml').on('toggled', function (event, tab) {
        BodyAceEditor.resize();
    });

    $('#bodytabs').parent().find('label').hide();
    $('.edit-item').show();
});
$(document).ready(function () {
    $("#bodytabs").tabs();
    $("#bodytabs").css('visibility', 'visible');
});
</script>
}
